<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
   <title>Billing Software</title>


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
   <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
   <%- include('./partials/Sidebar.ejs') %>


   <div class="main-content">
      <header>
         <div class="search-wrapper">
            <span class="ti-search"></span>
            <input type="search" placeholder="Search">
         </div>
         <div class="social-icons">
            <span class="ti-bell"></span>
            <span class="ti-comment"></span>
            <div></div>
         </div>
      </header>

      <main>
        <div class="dash-cards">
            <div class="card-single">
               <div class="card-body">
                  <span class="ti-briefcase"></span>
                  <div>
                     <h5>Items</h5>
                     <h4>1202</h4>
                  </div>
               </div>
               <div class="card-footer">
                  
                  <a href="add-new-item">Add New</a>
               </div>
            </div>
                     
        </div>

        <section class="recent">
            <div class="activity-grid-sales">

               <div class="activity-card">
                  <h3>Recent Invoice</h3>

                  <div class="table-responsive">
                     <table>
                        <thead>
                           <tr>
                              <th>Sr No.</th>
                              <th>Item Name</th>
                              <th>Stock</th>
                              <th>Status</th>
                              <th>Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>#1001</td>
                              <td>Dal</td>
                              <td>10000</td>
                              <td> <span class="badge success">Active</span></td>
                              <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                           </tr>
                           <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge warning">Inactive</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge warning">Inactive</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge success">Active</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                         <tr>
                            <td>#1001</td>
                            <td>Dal</td>
                            <td>10000</td>
                            <td> <span class="badge warning">Inactive</span></td>
                            <td><button type="button" onclick="alert('You want to edit this invoice')">Edit</button></td>
                         </tr>
                        </tbody>
                     </table>
                  </div>

                  
               </div>
               
            </div>
         </section>


        

         
      </main>



   </div>

</body>

</html>