<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
   <title>Safetycode</title>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
   <link rel="stylesheet" href="../public/css/style.css">

   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js" integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
</head>
<style>
   .label {
  font-size: 12px;
  margin: 4px;
  color: gray;
}
.value {
  margin: 4px;
}
label {
    min-width: fit-content;
    width: 158px;
}
input {
    width: 158px;
    padding: 4px 6px;
}
.form-group {
    /* background: antiquewhite; */
    margin-bottom: 15px;
    padding: 3px;
    display: flex;
    align-items: baseline;
    gap: 12px;
    flex-wrap: wrap;
}
.btn-theme{
   padding: 4px 8px;
   background-color: #333;
   color: #fff;
   text-transform: capitalize;
}
.btn-theme {
    padding: 4px 8px;
    background-color: #069;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    border: 2px solid #035f8d;
    font-weight: 500;
    font-size: 14px;
}
.btn-theme:hover {
   background-color: #fefefe;
   cursor: pointer;
   color: #069;
   border-color:#069;
}
.erorrMsg{
   font-size: 10px;
   color: red;
   line-height: 1;
   display: block;
   width: 100%;
   margin:12px 0;
}

</style>
<body>
   <div id="app">
      <input type="checkbox" id="sidebar-toggle">
      <div class="sidebar">
         <div class="sidebar-header">
            <h3 class="brand">
               <span class="ti-unlink"></span>
               <span>Safetycode</span>
      
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
      
         </div>
      
         <div class="sidebar-menu">
            <ul>
               <li>
                  <a href="index.html">
                     <span class="ti-home"></span>
                     <span>Home</span>
                  </a>
               </li>
               <li>
                  <a href="users.html">
                     <span class="ti-face-smile"></span>
                     <span>Users</span>
                  </a>
               </li>
               <li>
                  <a href="purchase.html">
                     <span class="ti-agenda"></span>
                     <span>Partners</span>
                  </a>
               </li>
               <li>
                  <a href="report.html">
                     <span class="ti-clipboard"></span>
                     <span>Report</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   
      <div class="main-content">
         <main>
            <form name="formData" @submit.prevent="loadNewData">
               <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" class="form-control" id="name"  placeholder="Name" v-validate="'required|alpha_spaces'" name="Name"  v-model="vehicleData.fullName">
                  <span v-if='errors.first("Name")' class="erorrMsg">{{ errors.first('Name') }}</span>
               </div>
               <div class="form-group">
                  <label for="name">Father's Name:</label>
                  <input type="fatherName" class="form-control" id="fatherName" placeholder="Father's Name" v-validate="'required|alpha_spaces'" name="Fathers Name" v-model="vehicleData.partnerName">
                  <span v-if='errors.first("Fathers Name")' class="erorrMsg">{{ errors.first("Fathers Name") }}</span> 
               </div>
                <div class="form-group">
                  <label for="mobile">Mobile No:</label>
                  <input type="tel" class="form-control" id="mobile" placeholder="mobile" v-validate="'required|digits:10'" name="Mobile"  v-model="vehicleData.ownerMobile">
                  <span v-if='errors.first("Mobile")' class="erorrMsg">{{ errors.first("Mobile") }}</span> 
               </div>
                <div class="form-group">
                  <label for="familyMobile">Family Mobile:</label>
                  <input type="tel" class="form-control" id="familyMobile" placeholder="familyMobile" v-validate="'required|digits:10'" name="Family Mobile" v-model="vehicleData.familyMobile">
                   <span v-if='errors.first("Family Mobile")' class="erorrMsg">{{ errors.first("Family Mobile") }}</span> 
               </div>
                <div class="form-group">
                  <label for="cdate">Created Date:</label>
                  <input type="text" class="form-control" id="cdate" placeholder="date" v-validate="'required|date_format:dd/MM/yyyy'" name="Created Date" v-model="vehicleData.createdAt">
                   <span v-if='errors.first("Created Date")' class="erorrMsg">{{ errors.first("Created Date") }}</span> 
               </div>
                <div class="form-group">
                  <label for="address">Address:</label>
                  <input type="text" class="form-control" id="address" placeholder="address" v-validate="'required'" name="Address" v-model="vehicleData.address">
                   <span v-if='errors.first("Address")' class="erorrMsg">{{ errors.first("Address") }}</span> 
               </div>
                <div class="form-group">
                  <label for="bloodgroup">Blood Group:</label>
                  <input type="text" class="form-control" id="bloodgroup" placeholder="bloodgroup" v-validate="'required'" name="Blood Group" v-model="vehicleData.bloodGroup">
                   <span v-if='errors.first("Blood Group")' class="erorrMsg">{{ errors.first("Blood Group") }}</span> 
               </div>
                <div class="form-group">
                  <label for="vehicleRegNo">Vehicle Reg No:</label>
                  <input type="text" class="form-control" id="vehicleRegNo" placeholder="vehicleRegNo" v-validate="'required|alpha_num'" name="Vehicle Reg No" v-model="vehicleData.vehicleRegNo">
                   <span v-if='errors.first("Vehicle Reg No")' class="erorrMsg">{{ errors.first("Vehicle Reg No") }}</span> 
               </div>
                <div class="form-group">
                  <label for="partnerCode">Promo Code:</label>
                  <input type="text" class="form-control" id="partnerCode" placeholder="partnerCode" v-validate="'required|alpha_num'" name="Partner Code" v-model="vehicleData.partnerId">
                   <span v-if='errors.first("Partner Code")' class="erorrMsg">{{ errors.first("Partner Code") }}</span> 
               </div>
                <div class="form-group">
                  <label for="status">Status:</label>
                  <input type="text" class="form-control" id="status" placeholder="status" v-validate="'required'" name="Payment Status" v-model="vehicleData.paymentStatus">
                   <span v-if='errors.first("Payment Status")' class="erorrMsg">{{ errors.first("Payment Status") }}</span> 
               </div>
               
               <button type="submit" class="btn btn-theme">Submit</button>
               <span v-if="fh.msg" class="erorrMsg">{{ fh.msg }}</span>
             </form>

         </main>
      </div>
   </div>
   <!-- jsdelivr cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
   <script>
      Vue.use(VeeValidate); // good to go.
      const app = new Vue({
         el:'#app',
         data:{
            vehicleData:{
                  fullName: "",
                  ownerMobile: "",
                  familyMobile: "",
                  createdAt: "",
                  vehicleRegNo: "",
                  scanCount: '',
                  partnerName: "",
                  partnerId: "",
                  paymentStatus: "",
                  status: true,
                  qrId: "",
                  id: "",
                  bloodGroup: "",
                  address: ""
               },
               fh:{
                  msg:''
               }
         },
         methods:{
           
            loadNewData: async function(){
              
               this.$validator.validate().then(valid => {
                     if (!valid) {
                        debugger
                       return
                     }
                  });
                   for(let key in this.vehicleData){
                  if(this.vehicleData[key]==''){
                     this.fh.msg="All Fields are required"
                     console.log(this.fh.msg)
                     return
                  }
               }
                     let editData = this.vehicleData;
                    
               //   editData = {
               //          fullName: "Anil Saini Edited",
               //          ownerMobile: "7073342728",
               //          familyMobile: "9928134316",
               //          createdAt: "2022-10-06T22:29:33.599Z",
               //          vehicleRegNo: "rj1812",
               //          scanCount: 229,
               //          partnerName: "Anil Saini",
               //          partnerId: "anil",
               //          paymentStatus: "PAID",
               //          status: true,
               //          qrId: "rj101",
               //          id: "633f56cd04e1685352d80adc",
               //          bloodGroup: "AB+",
               //          address: "jaipur"
               //       }
                     
               try{
                
                  const res = await axios.put('http://api.safetycode.in/safteycode/admin/vehicle/rj1812', editData);
                  res.data.json;
                  debugger
               }
               catch(error){
                  debugger
                  console.log(error)
               }
            },
         },
      
      })
     
   </script>
</body>

</html>