<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
   <title>Safetycode</title>


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
   <link rel="stylesheet" href="../public/css/style.css">
</head>
<style>
   .label {
  font-size: 12px;
  margin: 4px;
  color: gray;
}

.value {
  margin: 4px;
}
</style>
<body>
   <input type="checkbox" id="sidebar-toggle">
   <div class="sidebar">
      <div class="sidebar-header">
         <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Safetycode</span>
   
         </h3>
         <label for="sidebar-toggle" class="ti-menu-alt"></label>
   
      </div>
   
      <div class="sidebar-menu">
         <ul>
            <li>
               <a href="index.html">
                  <span class="ti-home"></span>
                  <span>Home</span>
               </a>
            </li>
            <li>
               <a href="users.html">
                  <span class="ti-face-smile"></span>
                  <span>Users</span>
               </a>
            </li>
            <li>
               <a href="purchase.html">
                  <span class="ti-agenda"></span>
                  <span>Partners</span>
               </a>
            </li>
            <li>
               <a href="report.html">
                  <span class="ti-clipboard"></span>
                  <span>Report</span>
               </a>
            </li>
         </ul>
      </div>
   </div>


   <div class="main-content">


      <main>
         <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
               <label for="name">Father's Name:</label>
               <input type="fatherName" class="form-control" id="fatherName" placeholder="Name">
             </div>
             <div class="form-group">
               <label for="mobile">Mobile No:</label>
               <input type="mobile" class="form-control" id="mobile" placeholder="mobile">
             </div>
             <div class="form-group">
               <label for="familyMobile">Family Mobile:</label>
               <input type="familyMobile" class="form-control" id="familyMobile" placeholder="familyMobile">
             </div>
             <div class="form-group">
               <label for="cdate">Created Date:</label>
               <input type="cdate" class="form-control" id="cdate" placeholder="date">
             </div>
             <div class="form-group">
               <label for="address">Address:</label>
               <input type="address" class="form-control" id="address" placeholder="address">
             </div>
             <div class="form-group">
               <label for="bloodgroup">Blood Group:</label>
               <input type="bloodgroup" class="form-control" id="bloodgroup" placeholder="bloodgroup">
             </div>
             <div class="form-group">
               <label for="vehicleRegNo">vehicleRegNo:</label>
               <input type="vehicleRegNo" class="form-control" id="vehicleRegNo" placeholder="vehicleRegNo">
             </div>
             <div class="form-group">
               <label for="partnerCode">Promo Code:</label>
               <input type="partnerCode" class="form-control" id="partnerCode" placeholder="partnerCode">
             </div>
             <div class="form-group">
               <label for="status">Status:</label>
               <input type="status" class="form-control" id="status" placeholder="status">
             </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

         
        
        

      </main>



   </div>

</body>

</html>