<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
   <title>Billing Software</title>


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
   <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
   <input type="checkbox" id="sidebar-toggle">
   <div class="sidebar">
      <div class="sidebar-header">
         <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Safetycode</span>
   
         </h3>
         <label for="sidebar-toggle" class="ti-menu-alt"></label>
   
      </div>
   
      <div class="sidebar-menu">
         <ul>
            <li>
               <a href="index.html">
                  <span class="ti-home"></span>
                  <span>Home</span>
               </a>
            </li>
            <li>
               <a href="users.html">
                  <span class="ti-face-smile"></span>
                  <span>Users</span>
               </a>
            </li>
            <li>
               <a href="purchase.html">
                  <span class="ti-agenda"></span>
                  <span>Partners</span>
               </a>
            </li>
            <li>
               <a href="report.html">
                  <span class="ti-clipboard"></span>
                  <span>Report</span>
               </a>
            </li>
         </ul>
      </div>
   </div>


   <div class="main-content">
      <header>
         <div class="search-wrapper">
            <span class="ti-search"></span>
            <input type="search" placeholder="Search">
         </div>
         <div class="social-icons">
            <span class="ti-bell"></span>
            <span class="ti-comment"></span>
            <div></div>
         </div>
      </header>

      <main>

         <div class="dash-cards">
            <div class="card-single">
               <div class="card-body">
                  <span class="ti-briefcase"></span>
                  <div>
                     <h5>Customers</h5>
                     <h4>1202</h4>
                  </div>
               </div>
               <div class="card-footer">
                  <a href="">View All</a>
               </div>
            </div>

            <div class="card-single">
               <div class="card-body">
                  <span class="ti-reload"></span>
                  <div>
                     <h5>Invoice</h5>
                     <h4>2021</h4>
                  </div>
               </div>
               <div class="card-footer">
                  <a href="">View All</a>
               </div>
            </div>
            <div class="card-single">
                <div class="card-body">
                   <span class="ti-reload"></span>
                   <div>
                      <h5>Products</h5>
                      <h4>20201</h4>
                   </div>
                </div>
                <div class="card-footer">
                   <a href="">View All</a>
                </div>
             </div>
            <div class="card-single">
                <div class="card-body">
                   <span class="ti-reload"></span>
                   <div>
                      <h5>Paid Amount</h5>
                      <h4>20201</h4>
                   </div>
                </div>
                <div class="card-footer">
                   <a href="">View All</a>
                </div>
             </div>
             <div class="card-single">
                <div class="card-body">
                   <span class="ti-reload"></span>
                   <div>
                      <h5>Due Amount</h5>
                      <h4>20201</h4>
                   </div>
                </div>
                <div class="card-footer">
                   <a href="">View All</a>
                </div>
             </div>
             
        </div>

    







      </main>



   </div>

</body>

</html>