<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
   <title>Safetycode</title>


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.min.css">
   <link rel="stylesheet" href="../public/css/style.css">
   <!-- vue cdn  -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

</head>
<style>
   .label {
  font-size: 12px;
  margin: 4px;
  color: gray;
}

.value {
  margin: 4px;
}
</style>
<body>
   <div id="app">
      <input type="checkbox" id="sidebar-toggle">
      <div class="sidebar">
         <div class="sidebar-header">
            <h3 class="brand">
               <span class="ti-unlink"></span>
               <span>Safetycode</span>
      
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
      
         </div>
      
         <div class="sidebar-menu">
            <ul>
               <li>
                  <a href="index.html">
                     <span class="ti-home"></span>
                     <span>Home</span>
                  </a>
               </li>
               <li>
                  <a href="users.html">
                     <span class="ti-face-smile"></span>
                     <span>Users</span>
                  </a>
               </li>
               <li>
                  <a href="purchase.html">
                     <span class="ti-agenda"></span>
                     <span>Partners</span>
                  </a>
               </li>
               <li>
                  <a href="report.html">
                     <span class="ti-clipboard"></span>
                     <span>Report</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="main-content">


         <main id="search">
   
            <div>
               <p class="label">Name:</p>
               <p class="value">{{ searchResult.fullName }}</p>
               
            </div>
            <div>
               <p class="label">Father's Name:</p>
               <p class="value">{{ "searchResult.fatherName" }}</p>
               
            </div>
            <div>
               <p class="label">Mobile No:</p>
               <p class="value">{{ searchResult.ownerMobile }}</p>
                           
            </div>
            <div>
               <p class="label">Family Mobile:</p>
               <p class="value">{{ searchResult.familyMobile }}</p>
                           
            </div>
            <div>
               <p class="label">Created Date:</p>
               <p class="value">{{ searchResult.createdAt }}</p>
                          
            </div>
            <div>
               <p class="label">Address:</p>
               <p class="value">{{ searchResult.address }}</p>
                         
            </div>
            <div>
               <p class="label">Blood Group:</p>
               <p class="value">{{ searchResult.bloodGroup }}</p>
              
               
            </div>
            <div>
               <p class="label">vehicleRegNo</p>
               <p class="value">{{ searchResult.vehicleRegNo }}</p>
                           
            </div>
            <div>
               <p class="label">Promo Code:</p>
               <p class="value">{{ searchResult.partnerId }}</p>
                           
            </div>
            <div>
               <p class="label">Status:</p>
               <p class="value">{{ searchResult.status }}</p>
                          
            </div>
   
   
            <div>
               <button type="button"><a :href="'edit.html?search='+ searchParam">Edit</a></button>
           </div>
   
   
   
   
   
   
         </main>
   
   
   
      </div>
   </div>


   

   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js" integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script>
      const app = new Vue({
         el:'#app',
         data:{
            searchResult:{},
            searchParam: '',
         },
         methods:{
            getSerachResult: function(event){
               let x = new URLSearchParams(location.search);
               const search  = x.get("search")  //url
               this.searchParam = search
               // let search = document.getElementById("search").value;

               axios.get("https://surkshacode.com/safteycode/admin/vehicle/"+search)
                  .then(res =>{
                     this.searchResult = res.data;
                  
                     console.log(this.searchResult)
                     debugger
                  })
                  .catch((error)=>{
                     debugger
                     console.log(error);
                  })
            }
         },
         created(){
            this.getSerachResult();
         }
      })
   
     
      
       
        
     
     
   </script>

</body>

</html>